<%= render partial: "layouts/carousel" %> <br>

<div class="well well-lg">The Trusted Printer of Choice
  Superior quality printing and great customer service are just some of the 
  reasons why our customers trust us
  with their printing - all backed by our 100% Quality Guarantee!
</div><br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "Business-Flyers.png" , class: "img-responsive" , alt: "flyers" %>
       
      <div class="caption">
        <h3>Flyers</h3>
        <p>You can rest assured that your print product will turn out right the first time.</p>
        <p><a href="/flyer-quote" class="btn btn-primary" role="button">More</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "biz-cards.png" , class: "img-responsive" , alt: "biz_cards" %>
      <div class="caption">
        <h3>Business Cards</h3>
        <p>We offer some of the fastest printing turnaround times found online.</p>
        <p><a href="/biz-card-quote" class="btn btn-primary" role="button">More</a></p>
    </div>
  </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "Standard Postcards.png" , class: "img-responsive" , alt: "postcards" %>
      <div class="caption">
        <h3>Postcards</h3>
        <p>Superior quality printing at the best possible price.  Always strive for the best!</p>
        <p><a href="/postcard-quote" class="btn btn-primary" role="button">More</a></p>
      </div>
    </div>
  </div>
</div>

