<div class="row">
<div class="col-md-6"><nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  <ul class="nav navbar-nav">
  <li><a href="#home">Brand</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#products">Products</a></li>
</ul>
</div></div>
  <div class="col-md-6">
    <form class="form-inline" role="form">
  <div class="form-group">
    <div class="form-group col-sm-8">
    <%= password_field_tag :password, "", class: "form-control", placeholder: "Password" %>
  </div>
   <%= submit_tag :Login, class: "btn btn-default" %>
    </div>
  </form>
    </div>
  </div> 

</nav>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-myCarousel" data-slide-to="1"></li>
    <li data-target="#carousel-myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://upload.wikimedia.org/wikipedia/commons/6/66/Franklin_the_printer.jpg">
      <div class="carousel-caption">
        Caption
      </div>
    </div>
    Desc..
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div><br>

<div class="well well-lg">Lorem ipsum dolor sit amet, at graece sanctus perfecto vis, an pri iriure repudiare. Mei fugit fastidii eu, natum laudem intellegebat nam ut. Elit etiam recteque ex pro. Ne vide simul fabulas usu, summo sapientem cu eam. Cum et temporibus suscipiantur, te nec oblique assentior, postea alterum partiendo ea usu.

Ipsum salutandi quo ex, pri in blandit qualisque. In tollit animal his, his movet impetus incorrupte ad, ei his putent philosophia instructior. Duo no accusam incorrupte persequeris. In mollis eirmod duo, nec dicam noluisse ea.

</div><br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/u/2299490/292292/imgs/Business-Flyers%281%29.png" class="img-responsive" alt="flyers">
      <div class="caption">
        <h3>Flyers</h3>
        <p>Description</p>
        <p><a href="#" class="btn btn-primary" role="button">More</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/u/2299490/292292/imgs/Business-Flyers%281%29.png" class="img-responsive" alt="flyers">
      <div class="caption">
        <h3>Biz Cards</h3>
        <p>Description</p>
        <p><a href="#" class="btn btn-primary" role="button">More</a></p>
    </div>
  </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/u/2299490/292292/imgs/Business-Flyers%281%29.png" class="img-responsive" alt="flyers">
      <div class="caption">
        <h3>Postcards</h3>
        <p>Description</p>
        <p><a href="#" class="btn btn-primary" role="button">More</a></p>
      </div>
    </div>
  </div>
</div>

