<!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-Carousel0" data-slide-to="0" class="active"></li>
    
    <li data-target="#carousel-Carousel1" data-slide-to="1"></li>
    <li data-target="#carousel-Carousel2" data-slide-to="2"></li>
  </ol>

  <!-- Controls -->
  <a class="left carousel-control" href="/_carousel2" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="/_carousel1" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<!--
<li class='pull-right <%= if params[:action] == action then "active" end %>'>
  <%= link_to action.humanize, route %>
</li> -->