<footer>
<div class="row">
  <div class="col-md-8"><!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
    EZ•PRINT <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" >
    <li><a href="/flyer-quote">Flyers</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div><br><br>
  <p>©2014</p><br>
   </div>
  <div class="col-md-4">
<%= image_tag "Credit-Cards.png", width: 200 , height: "auto", alt: "credit_cards" %></div>
</div>
</footer>
