<!-- Wrapper for slides active -->
  <div class="carousel-inner">
    <div class= "item active">
      <img src="http://upload.wikimedia.org/wikipedia/commons/6/66/Franklin_the_printer.jpg">
      <div class="carousel-caption">
        EZ•PRINT
      </div>
    </div>
      Old Fashion Craftmanship, New Science Technology.
  </div>
  
  
  